body{
	margin: 0;
	padding: 0;
}

#nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 15%;
	height: 100%;
	background-color: #f1f1f1;
	position: fixed;
	overflow: auto;
}

#nav li a{
	display: block;
	color: #000;
	padding: 30% 10px;
	text-decoration: none;
	font-size: 17px;
}

#nav li a.active{
	background-color: #4CAF50;
	color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

